[submodule "haifuraiya/third_party/power_detector"]
	path = haifuraiya/third_party/power_detector
	url = https://github.com/OpenResearchInstitute/power_detector.git
[submodule "haifuraiya/third_party/lowpass_ema"]
	path = haifuraiya/third_party/lowpass_ema
	url = https://github.com/OpenResearchInstitute/lowpass_ema.git
[submodule "haifuraiya/third_party/hdl"]
	path = haifuraiya/third_party/hdl
	url = https://github.com/analogdevicesinc/hdl.git
	branch = hdl_2022_r2
[submodule "haifuraiya/third_party/meta-adi"]
	path = haifuraiya/third_party/meta-adi
	url = https://github.com/analogdevicesinc/meta-adi.git
	branch = 2022_R2
[submodule "haifuraiya/third_party/pluto_msk"]
	path = haifuraiya/third_party/pluto_msk
	url = https://github.com/OpenResearchInstitute/pluto_msk
